@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #FFFFFF;
}

*, ::before, ::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.displayNone {
  display: none;
}

html {
  font-size: 16px;
  
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

